/***********
NAVBAR
***********/

.navbar {
  z-index: 10;
  width: 100%;
}

.nav-links {
  height: 50px;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-btn {
  text-decoration: none;
  list-style-type: none;
  color: black;
  margin-left: 2rem;
  transition: all 200ms;
}

.nav-btn:hover {
  transform: scale(1.1);
}

.nav-btn.logo {
  transition: all 300ms;
}

.nav-btn.logo:hover {
  transform: scale(1.1) rotate(5deg) translateX(10px);
}

.nav-btn.right {
  margin-left: 85%;
  transition: all 300ms;
}

.nav-btn.right:hover {
  transform: scale(1.1) rotate(3deg);
}